@import 'jeet'
@import 'nib'

global-reset()

//font families
@import url(http://fonts.googleapis.com/css?family=Open\+Sans:300italic,400italic,600italic,700italic,400,700,600,300)

//global color vars
$animationSpeed = 0.25s
$animationType = ease-in-out

$bodyColor = #121212

html
  background-color $bodyColor
  font-family 'Open Sans'
