@import 'jeet'
@import 'nib'

global-reset()

//font families
@import url(http://fonts.googleapis.com/css?family=Open\+Sans:300italic,400italic,600italic,700italic,400,700,600,300)

//global color vars
$bodyColor = #181818
$fontTitleColor = #fff
$fontTextColor = #adaeb3

//global base cutoff for media queries
$desktopBreakpoint = 1400px
$tabletBreakpoint = 900px
$mobileBreakpoint = 600px

html, body
  background-color $bodyColor
  font-family 'Open Sans', sans-serif
  font-weight 600
  font-size 1em
  color $fontTextColor
